##Jupyter Notebook for Data Analysis, Data Cleaning, Data Presentation

In [8]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import yfinance as yf

%matplotlib inline

In [9]:
# Load .env enviroment variables
load_dotenv()

True

In [23]:
btc = yf.Ticker("BTC-USD")
btc
eth = yf.Ticker("ETH-USD")
eth
lite = yf.Ticker("LTC-USD")
lite

yfinance.Ticker object <LTC-USD>

In [24]:
btc_historical = btc.history(start="2018-03-01", end="2020-03-01")
btc_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-01,10385.000000,11052.299805,10352.700195,10951.000000,7317279744,0,0
2018-03-02,10977.400391,11189.000000,10850.099609,11086.400391,7620590080,0,0
2018-03-03,11101.900391,11528.200195,11002.400391,11489.700195,6690570240,0,0
2018-03-04,11497.400391,11512.599609,11136.099609,11512.599609,6084149760,0,0
2018-03-05,11532.400391,11704.099609,11443.900391,11573.299805,6468539904,0,0
...,...,...,...,...,...,...,...
2020-02-26,9338.290039,9354.778320,8704.426758,8820.522461,50420050762,0,0
2020-02-27,8825.093750,8932.892578,8577.199219,8784.494141,45470195695,0,0
2020-02-28,8788.728516,8890.456055,8492.932617,8672.455078,44605450443,0,0
2020-02-29,8671.212891,8775.631836,8599.508789,8599.508789,35792392544,0,0
2020-03-01,8599.758789,8726.796875,8471.212891,8562.454102,35349164300,0,0

In [25]:
eth_historical = eth.history(start="2018-03-01", end="2020-03-01")
eth_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-01,856.012024,880.302002,851.919983,872.200012,1868519936,0,0
2018-03-02,871.763977,876.377991,852.421997,856.853027,1894419968,0,0
2018-03-03,856.710999,868.453979,855.206970,857.224976,1699369984,0,0
2018-03-04,856.185974,867.950012,840.280029,866.677979,1697939968,0,0
2018-03-05,866.846008,869.919983,853.520020,853.684021,1898489984,0,0
...,...,...,...,...,...,...,...
2020-02-26,247.740204,249.649704,221.266556,225.680267,26235617201,0,0
2020-02-27,225.687042,237.228928,212.664520,226.753387,25645522790,0,0
2020-02-28,226.987610,234.208939,216.346207,226.760498,22563530559,0,0
2020-02-29,226.833450,232.256622,219.848511,219.848511,18181296376,0,0
2020-03-01,219.752686,226.677887,214.130432,218.970596,18179807469,0,0

In [27]:
ltc_historical = lite.history(start="2018-03-01", end="2020-03-01")
ltc_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-01,203.119003,214.697998,201.542007,209.750000,678542016,0,0
2018-03-02,209.554993,213.128998,204.880005,212.556000,627142016,0,0
2018-03-03,213.837997,217.763000,209.537003,210.643005,681865984,0,0
2018-03-04,210.235992,214.119995,205.363998,213.798996,574675008,0,0
2018-03-05,213.740005,215.977997,209.248993,211.175003,594828992,0,0
...,...,...,...,...,...,...,...
2020-02-26,71.180382,71.864975,58.579491,61.014309,6518313483,0,0
2020-02-27,61.027927,64.623657,57.804031,61.507885,5649302854,0,0
2020-02-28,61.437935,63.171490,57.840664,59.763958,5266399749,0,0
2020-02-29,59.748737,61.377529,58.385159,58.543262,4168117352,0,0
2020-03-01,58.530544,60.118355,56.646225,57.956688,4317287191,0,0

In [31]:
btc_historical.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [32]:
eth_historical.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [33]:
ltc_historical.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [3]:
# Set Yahoo API key and secret key
yahoo_api_key = os.getenv("yf_api_key_SA")
print(f"Yahoo Key type: {type(yahoo_api_key)}")

coinmarketmap_api_key = os.getenv("coinmarketmap_api_key_SA")
print(f"Coinmarketcap Key type: {type(coinmarketmap_api_key)}")

Yahoo Key type: <class 'str'>
Coinmarketcap Key type: <class 'str'>

## Gold

In [34]:
gold = yf.Ticker("GC=F")
gold

yfinance.Ticker object <GC=F>

In [35]:
gold_historical = gold.history(start="2018-03-01", end="2020-03-01")
gold_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-03-01,1310.400024,1318.099976,1301.800049,1302.900024,43,0,0
2018-03-02,1314.300049,1323.199951,1314.300049,1321.099976,155,0,0
2018-03-05,1323.500000,1325.900024,1318.099976,1318.099976,18,0,0
2018-03-06,1321.599976,1333.599976,1321.400024,1333.599976,18,0,0
2018-03-07,1338.099976,1338.099976,1326.000000,1326.000000,27,0,0
...,...,...,...,...,...,...,...
2020-02-24,1657.000000,1686.599976,1650.000000,1672.400024,435,0,0
2020-02-25,1645.099976,1653.699951,1632.300049,1646.900024,409,0,0
2020-02-26,1644.000000,1648.099976,1636.400024,1640.000000,1990,0,0
2020-02-27,1641.099976,1658.000000,1638.500000,1640.000000,707,0,0
2020-02-28,1640.300049,1642.500000,1564.099976,1564.099976,289,0,0

In [36]:
gold_historical.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [ ]:
#data cleaning

# 1)